!!! Strict
%html
  %head
    %title urlStore Dashboard
    %style{:type => "text/css", :media => "screen"}
      :plain
        body { font-family: Arial, sans-serif; }
        a, a:visited { text-decoration: none; color: black }
        #header { font-weight: bold; font-size: 25px; margin: 10px; border: none; }
        a:hover.internal { border-bottom: 1px dotted; }
    %script{:type => "text/javascript", :src => '/common.js'}    
  %body
    #header
      %a{:href => url('/')}
        urlStore Dashboard
    - if is_authed?    
      %a.internal{:href => url('/add')}
        Add link...
      %br
      %a.internal{:href => url('/addcategory')}
        Add category...
    = yield
